.home {
  margin-bottom: 10px;
  background: linear-gradient(113deg, #1a1716 73%, white 65%);
  padding-top: 80px;
  .btn-group {
    display: flex;
    gap: 8px;
  }
  .social-media {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
    svg {
      fill: white;
      height: 30px;
      width: 30px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        fill: $secondary-color;
      }
    }
  }
  @media screen and(min-width: 750px) {
    border-radius: 0 0 0 0;
    margin-bottom: 45px;
    padding-top: 0;
  }
}
.home-info {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  height: 80vh;
  align-items: center;
  padding: 12px;
  color: white;
  p:last-of-type {
    max-width: 80%;
    margin-bottom: 16px;
  }
  .home-img {
    box-shadow: 0 1px 0 rgb(0 0 0), 0 2px 0 rgb(255 255 255);
    border-radius: 50%;
    padding: 0px 3px 3px 3px;
    height: 170px;
    img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      object-fit: cover;
    }
    @media screen and (min-width: 1300px) {
      margin-inline-end: 8%;
    }
  }
  .my-name {
    font-weight: 600;

    span {
      color: $secondary-color;
    }
  }
  .short-info {
    flex: 1;
  }
  .Typewriter {
    font-size: 1.5rem;
    font-weight: 600;
    // padding: 5px;
    @media screen and (max-width: 450px) {
      font-size: 1.2rem;
    }
  }

  @media screen and(min-width: 750px) {
    flex-direction: row;
    height: 100vh;
    p:last-child {
      max-width: 100%;
    }
    .home-img {
      @media screen and(min-width: 750px) {
        height: 260px;
      }
      img {
        height: 250px;
        width: 250px;
      }
    }
  }
}
