.container {
    // xs
    width: 99%;
    margin: 0 auto;
    // s
    @media screen and(min-width:550px) {
        width: 95%;
    }
    // l
    @media screen and(min-width:750px) {
        width: 90%;
    }
    // xl
    @media screen and(min-width:1000px) {
        // width: 75%;
        width: 90%;

    }
}
